@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&amp;display=swap);

* {
    margin: 0;
    padding: 0
}

html {
    min-height: 100%
}

body {
    background: 0 0;
    color: #444;
    font-size: 16px;
    line-height: 22px;
    font-family: Inter, sans-serif;
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700
}

a,
a:hover {
    text-decoration: none;
    color: #008cd2;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

li {
    list-style: none outside none
}

ul {
    margin: 0
}

img {
    border: 0 none;
    max-width: 100%
}
::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background-color: #aaa
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666
}

body,
html {
    scrollbar-color: #aaa #f1f1f1;
    scrollbar-width: thin
}
.header {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}
.header-inner {
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-bottom: 1px solid #eee;
    background-color: #fff
}

.header-inner .menu>ul>li>a {
    color: #000
}
.container {
    max-width: 1200px;
    width: 90%
}
.right-header {
    float: right;
    margin: 15px 0 0 0
}
.cover-i-user {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    background-color: #111320;
    color: #fff;
    border-radius: 50%;
    display: block;
    overflow: hidden
}
.right-header .cover-i-user {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    cursor: pointer
}

.right-header .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: 40px !important;
    font-size: 14px
}
.btn {
    font-weight: 700
}


.menu {
    float: right
}

.menu>ul>li {
    float: left;
    position: relative
}

.menu>ul>li>a {
    display: block;
    padding: 22px 17px;
    color: #fff;
    position: relative
}

.menu>ul>li>a>i {
    font-size: 13px
}

.menu>ul>li>a:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px
}

.menu>ul>li.active>a {
    color: #ff8503
}

.menu>ul>li.active>a:after {
    background: #ff8503
}

.menu ul li ul {
    position: absolute;
    top: 59px;
    width: 300px;
    left: 0;
    background-color: #fff;
    background: #fff;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.menu ul li ul li a {
    display: block;
    color: #333;
    padding: 9px 15px;
    border-bottom: 1px solid #eee
}

.menu ul li ul li:last-child a {
    border: 0
}

.menu ul li ul li a:hover {
    color: #ff8503
}
.menu li:hover {
    background-color: #ccc;
  }

  /* hết menu */
  /* menu_logo */
  .right-header .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: 40px !important;
    font-size: 14px
}
.dropdown-item {
    padding: 5px 15px
}
/* menu_trái */

.adm-main {
    background-color: #f1f1f1;
    padding: 120px 0 60px 0
}

.box-adm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px
}

.left-adm {
    width: 300px
}
.user-adm {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nav-adm {
    padding: 20px
}

.nav-adm li {
    margin: 2px 0
}

.nav-adm li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    font-weight: 700
}

.nav-adm li a:hover,
.nav-adm li.active a {
    background-color: #eee
}

.content-right-adm {
    padding: 20px;
    min-height: 50vh
}

.title-adm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 20px 0
}

.title-adm h2 {
    font-size: 20px;
    color: #000;
    margin: 0
}
.txt-i-user {
    width: calc(100% - 60px);
    padding-left: 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

/* menu_phải */
.content-right-adm {
    padding: 20px;
    min-height: 50vh
}
.form-group {
    margin-bottom: 1rem;
  }
  .bottom-right-adm {
    padding: 20px;
    border-top: 1px solid #ddd
}

.bottom-right-adm .btn {
    min-width: 80px
}
/* footer */

.footer {
    background: #111320;
    color: #fff;
    font-size: 14px
}

.footer .col-sm-4 {
    padding-top: 110px;
    padding-bottom: 50px
}

.footer .col-sm-4:nth-child(2) {
    padding-left: 30px
}

.left-footer {
    border-right: 1px solid rgba(255, 255, 255, .2)
}

.logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.logo-footer img {
    width: 77px;
    margin: 0 18px 0 0
}

.logo-footer h3 {
    font-weight: 700;
    font-size: 20px;
    margin: 0
}
/* pagination */
.pagination {
    margin: 30px 0px;
}
.page-item {
    margin: 0 5px
}

.page-link {
    border-radius: 5px !important
}

.menu>ul>li .bell{
    margin-right: 50px;
}
.menu>ul>li.notification_wrap:hover {
 background-color: #fff;
}
  .notifier {
    position: relative;
    display: inline-block;
  }
  
  .bell {
    font-size: 26px;
    transition: 0.3s;
  }
  
  .bell:hover {
    color: #EF476F;
  }
  
  .badge {
    position: absolute;
    top: -5px;
    left: 24px;
    padding: 0 5px;
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    background: #EF476F;
    color: #FFF;
    border-radius: 11px;
    white-space: nowrap;
  }
  
  
  .notifier.new .badge {
    animation: pulse 2s ease-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    40% {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.3, 1.3, 1.3);
    }
  
    55% {
      transform: scale3d(1, 1, 1);
    }
    
    60% {
      transform: scale3d(1.3, 1.3, 1.3);
    }
  
    65% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .menu>ul>li.notification_wrap:hover{
    background-color: #fff;
  }

  #list_noti .dropdown-item {
	display: flex;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #dbdaff;
}



#list_noti .dropdown-item .notify_info p{
	margin-bottom: 5px;
}

#list_noti .dropdown-item .notify_info p span{
	color: #605dff;
	margin-left: 5px;
}

#list_noti .dropdown-item .notify_info .notify_time{
	color: #c5c5e6;
	font-size: 12px;
}
.notify_info{
    padding: 0px 10px;
}
/* right_adn */
.text-primary {
    padding-top: 40px;
    color: #0f0f0f !important;

}
.reg_teach_item {
    display: inline-block;
    width: 100%; 
  }
form {
    margin-left: 20px;
}
.change-type-password {
    position: absolute;
    right: .35rem;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

