@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&amp;display=swap);

* {
    margin: 0;
    padding: 0
}

html {
    min-height: 100%
}

body {
    background: 0 0;
    color: #444;
    font-size: 16px;
    line-height: 22px;
    font-family: Inter, sans-serif;
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700
}

a,
a:hover {
    text-decoration: none;
    color: #008cd2;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

li {
    list-style: none outside none
}

ul {
    margin: 0
}

img {
    border: 0 none;
    max-width: 100%
}
::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background-color: #aaa
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666
}

body,
html {
    scrollbar-color: #aaa #f1f1f1;
    scrollbar-width: thin
}
.header {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}
.header-inner {
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-bottom: 1px solid #eee;
    background-color: #fff
}

.header-inner .menu>ul>li>a {
    color: #000
}
.container {
    max-width: 1200px;
    width: 90%
}
.logo {
    float: left;
    margin: 10px 0 0 0
}

.logo a {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/logo.png) no-repeat;
    background-size: 100%
}
.right-header {
    float: right;
    margin: 15px 0 0 0
}
.right-header .cover-i-user {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    cursor: pointer
}

.right-header .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: 40px !important;
    font-size: 14px
}
.btn {
    font-weight: 700
}


.menu {
    float: right
}

.menu>ul>li {
    float: left;
    position: relative
}

.menu>ul>li>a {
    display: block;
    padding: 22px 17px;
    color: #fff;
    position: relative
}

.menu>ul>li>a>i {
    font-size: 13px
}

.menu>ul>li>a:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px
}

.menu>ul>li.active>a {
    color: #ff8503
}

.menu>ul>li.active>a:after {
    background: #ff8503
}

.menu ul li ul {
    position: absolute;
    top: 59px;
    width: 300px;
    left: 0;
    background-color: #fff;
    background: #fff;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.menu ul li ul li a {
    display: block;
    color: #333;
    padding: 9px 15px;
    border-bottom: 1px solid #eee
}

.menu ul li ul li:last-child a {
    border: 0
}

.menu ul li ul li a:hover {
    color: #ff8503
}
.menu li:hover {
    background-color: #ccc;

  }
  /* hết menu */
  /* thanh tìm kiếm */
  .inner-content {
    padding: 67px 0 0 0
}

.find-teacher {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover
}

.find-teacher h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px 0;
    color: #fff
}

.form-find-teacher {
    background: #fff;
    border-radius: 5px;
    display: table;
    width: 100%
}

.form-find-teacher .i-find {
    float: left;
    width: calc(14.4% - 10px)
}

.form-find-teacher .form-control {
    border-radius: 0;
    background: 0 0;
    border: 0;
    border-right: 1px solid #ddd;
    height: 50px
}

.form-find-teacher .btn {
    padding: 9px 19px;
    margin-top: 3px;
    margin-left: 5px
}
.container {
    max-width: 1200px;
    width: 90%
}

.icon-search-on-input {
    position: relative
}

.icon-search-on-input .icon-search {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: .5rem
}

.icon-search-on-input .input-search {
    padding-right: 2rem
}
/* hộp các gia sư */
.detail-main {
    padding: 20px 0
}
.top-list-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0
}

.top-list-main h2 {
    font-size: 28px;
    margin: 0
}

.top-list-main .btn {
    margin-left: auto
}
.list-item .item-t {
    margin: 15px 0
}
.item-t {
    background: #fff;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    border-radius: 10px;
    border: 1px solid #eee;
    padding: 10px
}

.item-t-pic {
    position: relative;
    padding-top: 77%
}

.item-t-pic a {
    display: block
}

.item-t-pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px
}

.item-t-txt {
    padding: 15px 10px;
    text-align: center
}

.item-t-txt h3 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.item-t-txt p {
    margin: 0;
    height: 70px;
    overflow: hidden;
    font-size: 15px
}
.item-t-custom {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.item-t-custom .item-t-pic a {
    display: block;
    width: 100%;
    height: 100%
}

.item-t-custom .item-t-pic {
    width: 40%;
    overflow: hidden;
    padding: 0;
    height: 160px
}

.item-t-custom .item-t-pic img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.item-t-custom .item-t-txt {
    width: calc(100% - 40%);
    padding: .5rem
}

.item-t-custom .item-t-txt {
    text-align: left
}
.limit-classrom-teacher {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 1.5rem
}
.word-break-word {
    word-break: break-word;
}

/* pagination */
.pagination {
    margin-top: 30px
}
.page-item {
    margin: 0 5px
}

.page-link {
    border-radius: 5px !important
}

/* sign_up_box */
.signup-main {
    position: relative;
    margin-bottom: -50px
}

.signup-main-box {
    background: url(../images/bg-1.jpg) right top #0085ff;
    padding: 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    position: relative;
    z-index: 10
}

.signup-main-box h2 {
    font-size: 25px;
    margin: 0 0 10px 0
}

.signup-main-box .btn {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -20px;
    padding: 10px 20px
}

/* footer */
.footer {
    background: #111320;
    color: #fff;
    font-size: 14px
}

.footer .col-sm-4 {
    padding-top: 110px;
    padding-bottom: 50px
}

.footer .col-sm-4:nth-child(2) {
    padding-left: 30px
}

.left-footer {
    border-right: 1px solid rgba(255, 255, 255, .2)
}

.logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.logo-footer img {
    width: 77px;
    margin: 0 18px 0 0
}

.logo-footer h3 {
    font-weight: 700;
    font-size: 20px;
    margin: 0
}

.social li {
    display: inline-block;
    margin-right: 10px
}

.social li a {
    display: block;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #111320;
    background: rgba(255, 255, 255, .7);
    font-size: 20px;
    border-radius: 50%
}

.social li a:hover {
    background: rgba(255, 255, 255, 1)
}

.title-footer {
    font-weight: 700;
    margin: 0 0 5px 0
}

.li-footer {
    margin: 0 0 20px 0
}

.li-footer li a {
    display: block;
    color: rgba(255, 255, 255, .7)
}

.li-footer li a:hover {
    color: #ff8503
}

.copyright {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, .2)
}